<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>%1$@</string>
        <key>ProgramArguments</key>
        <array>
            <string>%2$@</string>
        </array>
        <key>Nice</key>
        <integer>-20</integer>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>ThrottleInterval</key>
        <integer>10</integer>
        <key>StandardErrorPath</key>
        <string>/tmp/vimium-native-err.log</string>
        <key>StandardOutPath</key>
        <string>/tmp/vimium-native-out.log</string>
    </dict>
</plist>
